/* 
@media (min-width: 319px) and (max-width: 480px) {
    iframe {
      width: 100;
    }
  }

  @media (min-width: 481px) and (max-width: 1200px) {
    iframe {
        width: 300;
      }
  }

  @media (min-width: 1201px) and (max-width: 1600px) {
    iframe {
        width: 400;
      }
  }

  @media (min-width: 1601px) {
    iframe {
        width: 600;
      }
  } */
#map-main{
    width: 100px;
}